.idea
.vscode
.DS_Store

vendor

project_root/bin/*
!project_root/bin/.gitkeep

__*.md
__*.yml
__*.yaml
__*.php

docker-compose.override.yml
.env

# project build ignore
project_root/app
project_root/app~
project_root/main.exe
project_root/main.exe~